<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popetech Monday Sync</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <hgroup style="padding: 20px">
        <h1 style="margin: 12px">Popetech Monday Sync</h1>
        <h2 style="margin: 12px;">
        Check which links are in Popetech but aren't found or active in the Monday board.
        </h2>
      </hgroup>

      <article id="card">
        <button id="startSync" type="button" aria-busy="false" style="width:100%">
          Start Sync
        </button>
        <p id="total"></p>
        <section id="list"></section>
      </article>
    </main>
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
