<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popetech Monday Sync</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
  </head>
  <body>
    <main class="container">
      <hgroup>
        <h1>Popetech Monday Sync</h1>
        <h3>
          Allows user to view which links are in Popetech but, aren't saved or
          active inside of monday.
        </h3>
      </hgroup>

      <article id="card">
        <button id="startSync" type="button" aria-busy="false">
          Start Sync
        </button>
        <div id="list"></div>
      </article>
    </main>
    <script>
      const syncBtn = document.getElementById("startSync");
      // const card = document.getElementById("card");
      const list = document.getElementById("list");

      function handleCopy(element) {
        navigator.clipboard.writeText(element.getAttribute("link"));
        element.setAttribute("data-tooltip", "Copied!");
      }

      syncBtn.addEventListener("click", async () => {
        syncBtn.ariaBusy = "true";
        syncBtn.textContent = "Loading...";
        list.innerHTML = "";
        try {
          const response = await axios.get("/sync");
          console.log(response.data);
          if (response.data.length > 0) {
            let table = document.createElement("table");
            table.role = "grid";
            table.innerHTML = `
              <thead>
                <tr>
                  <th scope="col"><strong>#</strong></th>
                  <th scope="col"><strong>Url</strong></th>
                  <th scope="col"></th>
                </tr>
              </thead>
            `;
            let tbody = document.createElement("tbody");
            response.data.forEach((link, idx) => {
              let tr = document.createElement("tr");
              tr.innerHTML = `
                <th scope="row">${idx + 1}</th>
                <td><a href="${link}" target="_blank" >${link}</a></td>
                <td><button onclick="handleCopy(this)" role="button" class="secondary outline" link="${link}" data-toolip="Click to copy" >Copy</button></td>
              `;
              tbody.appendChild(tr);
            });
            table.appendChild(tbody);
            list.appendChild(table);
          } else {
            list.innerHTML = "<p>No links found.</p>";
          }
        } catch (err) {
          console.error(err);
          list.innerHTML =
            "<p>Something went wrong. Please check console and try again.</p>";
        } finally {
          syncBtn.ariaBusy = "false";
          syncBtn.textContent = "Start Sync";
        }
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
